.input {
    padding: 0.5rem;
    box-sizing: border-box;
    line-height: 1.375rem;
    border: none;
    border-radius: 6px;
    width: 100%;
    max-width: 250px;
    margin-bottom: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}
