.monthDisplay {
    margin-bottom: 2rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 1.5rem 2rem 1.5rem;
}

.monthDisplay > .wrapper {
    padding: 1rem;
}
