body {
    background-color: #0d1117;
}

[autocomplete='off']::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

p {
    color: white;
    font-size: 1rem;
    margin: 0.25rem 0;
}

p,
h1,
h2,
label {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: white;
    margin-bottom: 0.5rem;
}

label {
    color: white;
    font-size: 1rem;
}

.App {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthWrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .monthWrapper {
        flex-direction: column;
    }
}
